<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resources.VillageMapper">
	<resultMap type="village" id="villageResult">
		<id property="id" column="id"/>
		<id property="name" column="name"/>
		<id property="district" column="district"/>
	</resultMap>
	<insert id="insertVillage" parameterType="village">
		INSERT into village VALUES(#{id}, #{name}, #{district})
	</insert>
	<select id="selectVillage" resultType="village" parameterType="int" resultMap="villageResult">
		SELECT id,name,district from village where id=#{id}
	</select>
	<update id="updateVillage" parameterType="village">
		UPDATE village SET name=#{name}, district = #{district} where id = #{id}
	</update>
	<delete id="deleteVillage" parameterType="int">
		DELETE FROM village WHERE id = #{id}
	</delete>
</mapper>